@import "../../SCSS/root.scss";

.course-layout-common {
  margin-top: 74px;
  height: 16rem;
  color: $c-white;
  background-image: url("../../assets/CommonBanner/background-2.jpg");
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;

  @media screen and (max-width: 1023px) {
    padding: 0 1rem;
  }
}
