.footer__bottom {
  .footer__nav {
    div {
      position: relative;

      &.footer-has-left-border::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -1rem;
        width: 1px;
        height: calc(100% * 0.75);
        background: rgba($color: #fff, $alpha: 0.2);
      }
    }
  }
}
