@import "../../../SCSS/root.scss";

.header__navbar {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  position: relative;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &-item {
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: 500;
    font-size: $f-sm;
    height: 100%;
    display: flex;
    align-items: center;

    a {
      transition: all 0.4s;
      font-size: $f-sm;

      &:hover {
        color: $c-primary;
      }
    }
  }

  &-item-join {
    color: $c-white;
    background-color: $bg-primary;
    width: 194px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    transition: all 0.4s;
    border: thin solid $c-primary;

    &:hover {
      background-color: $bg-primary-hover;
    }
  }

  &-item-login {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &-overlay {
      position: fixed;
      top: 74px;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      z-index: 8;
    }
    &-nav {
      padding: 10px 12px;
      border-radius: 0 0 2px 2px;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $bg-white;
      width: calc(100% + 80px);
      text-align: center;
      display: flex;
      flex-direction: column;

      max-height: 40vh;
      z-index: 10;
      border-radius: 0 0 2px 2px;
      display: none;
      button {
        transition: all 0.4s;
        &:hover {
          color: $c-primary;
        }
      }
    }
  }

  &-item-login.open {
    .header__navbar-item-login-nav {
      display: block;
    }

    .header__navbar-item-login-overlay {
      display: block;
    }
  }
}
