// Background
$bg-primary: #06bbcc;
$bg-primary-hover: #2bc5d4;
$bg-footer: #181d38;
$bg-white: #fff;
$bg-overlay-carousel: rgba(24, 29, 56, 0.7);
$bg-instructor: #f0fbfc;
$bg-white: #fff;
$bg-dark: #1c1d1f;
$bg-white-2: #fafafa;
$bg-blue: #2a3855;
$bg-gray: #ccd3db;
$bg-dark-0: #000033;
$bg-blue-2: #2b2b4b;

// Color
$c-text: #333;
$c-primary: #06bbcc;
$c-white: #fff;
$c-star: #faaf00;
$c-title-text: #fddd53;
$c-text-2: #555c66;

// size
$f-verysm: 12px;
$f-sm: 14px;
$f-base: 16px;
$f-2xl: 20px;
$f-3xl: 30px;
$f-4xl: 40px;
$f-5xl: 50px;

// height
$header-height: 74px;
